<!--
<a [routerLink]="['/product', prod_id, prod_name]">
    &#x2b05; Back to {{prod_name}}
</a>
-->
<h1>Cart</h1>
<table>
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Update Quantity</th>
    </tr>
    <tr *ngFor="let c of cart; let i = index">
        <td>{{c.name}}</td>
        <td>{{c.msrp}}</td>
        <td>{{c.qty}}</td>
        <td>
            <input type="number" name="qty" [(ngModel)]="qty[i]">
            <form (ngSubmit)="update(qty[i], c)" #myForm="ngForm">
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
</table>
<br>
<!--
<button routerLink="/checkout">
    Checkout
</button><br/>
-->
<button (click)="checkShip()">
    Checkout
</button><br/>
